<div class="container">
  <h1><%= ENV['BLOG_NAME'] %></h1>

  <div id="article-list">
    <% @articles.each do |article| %>
      <div class="article-block">
        <div class="article-title">
          <h3><%= link_to article.title, article_path(article) %></h3>
        </div>
        <%= render partial: "body", locals: {article: article} %>
        <div class="article-options" >
          Posted: <%= display_time_created(article) %> |
          <% if admin? %>
            <%= link_to 'Edit', edit_article_path(article) %> |
            <%= link_to 'Delete', delete_article_path(article) %> |
          <% end %>
          <%= link_to "Comments [#{article.comments_count}]", article_path(article) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
