<div class="container">
  <h1><%= t("blog_name") %></h1>

  <%= link_to 'Add New', new_article_path %>

  <div id="article_list">
    <% @articles.each do |article| %>
      <div class="article_block">
        <div class="article_title">
          <h3><%= link_to article.title, article_path(article) %></h3>
        </div>
        <div class="article_title">
          <% paragraphs = article.body.split(/\r/) %>
          <% paragraphs.each do |p| %>
            <p>
              <%= p %>
            </p>
          <% end %>
        </div>
        <div class="article_options" >
          <%= link_to 'Edit', edit_article_path(article) %> |
          <%= link_to 'Delete', article_path(article), method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
</div>
