<div class="container article-block">
  <div class="article-title">
    <h1><%= @article.title %></h1>
    Posted: <%= display_time_created(@article) %>
  </div>
  <%= render partial: 'body', locals: {article: @article} %>

  <div class="article-control-panel">
    <%= render partial: 'tags/list', locals: {article: @article} %>
    <% if admin? %>
      <%= link_to 'Edit', edit_article_path %>
      | <%= link_to 'Delete', delete_article_path %>
    <% end %>
  </div>
</div>
<div class="container comments-section">
  <%= render "comments/comments" %>
  <%= render "comments/new" %>
</div>
