<div class="container article-block">
  <div class="article-title">
    <h1><%= @article.title %></h1>
    <%= render partial: 'tags/list', locals: {article: @article} %>
  </div>
  <div class="article-body">
    <% paragraphs = @article.body.split(/\r/) %>
    <% paragraphs.each do |p| %>
      <p>
        <%= p %>
      </p>
    <% end %>
  </div>

  <div class="article-control-panel">
    <% if admin? %>
      <%= link_to 'Edit', edit_article_path %>
      | <%= link_to 'Delete', article_path, method: :delete %>
    <% end %>
  </div>
</div>
<div class="container comments-section">
  <%= render "comments/comments" %>
  <%= render "comments/new" %>
</div>
