<div class="tags-list">
  Tags:
  <% article.tags.each do |t| %>
    <span class="glyphicon glyphicon-tag"></span><%= link_to t.name, tag_path(t) %>
  <% end %>
  <% if admin? %>
    <button data-toggle="modal" data-target="#tags-modal">
      <span class="glyphicon glyphicon-cog"></span>
    </button>
    <div id="tags-modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Manage Tags</h4>
          </div>
          <div class="modal-body">
            <%= form_for Tag.new do |f| %>
              <input type="hidden" name="article_id" value="<%= article.id %>"/>
              <table class="table table-hover">
                <tbody>
                    <% article.tags.each do |t| %>
                      <tr>
                        <td>
                          <%= t.name %>
                        </td>
                        <td>
                          <%= link_to article_remove_tag_path(article,t) do %>
                            <span class="glyphicon glyphicon-remove"></span>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                    <tr>
                      <td>
                        <%= f.text_field :name, { placeholder: 'tag', class: 'form-control'} %>
                      </td>
                      <td>
                        <%= f.button :add, { class: 'btn btn-primary' } %>
                      </td>
                    </tr>
                </tbody>
              </table>
            <% end %>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  <% end %>
</div>
